body{
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  min-height: 1000px;
  margin: 10px 0;
}
#imagesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#oroboros{
  margin-top: 200px;
}

.hide{
  display: none;
}

#nav {
  overflow: hidden;
  background-color: #333;
  color: #f7f7f7;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#nav div {
  margin: 0px 40px;
}

#scroller {
  position: fixed;
  width: 100px;
  top:100px;
  right: 0;
  background-color: #333;
  color: #f7f7f7;
  padding: 20px 20px;
  border-radius: 0 0 0 10px;
}

#scroller button {
  margin: 5px 10px;
}

#scroller div {
  display: flex;
  align-items: center;
  justify-content: center;
}
